@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
  font-family: 'Didact Gothic', sans-serif;
}
ul {
  display: flex;
  padding-inline-start: 2px;
}

a {
  color: aliceblue;
  text-decoration: none;
  margin-left: 15px;
}

li {
  padding: 8px;
  
  border-radius: 10px;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.733);
  transform: scale(1);
  transition: 0.2s;
}

li:hover {
  background-color: rgba(56, 65, 47, 0.733);
  transform: scale(0.9);
}

input {
  display: none;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

th {
  border:1px solid;
  padding: 15px;
  background: #f0f0f0;
  color: #000000;
}

td {
  border:1px dotted;
  text-align: center;
  padding: 10px;
  background: #ffffff;
  color: #000000;
}

div {
  width: 100%;
  height: auto;
  
}

