@import url(root.css);

/*
.canvas {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
    
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer {
    

    display: flex;
    flex-direction: row;
    width: 100%;
}
.nav-logo {
    display: block;
    margin-left: 10px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    margin-left: 60%;
}
.nav-button {
    display: block;
    margin-right: 10px;
}

.box-col-s {
    

    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 100%;
    
}

.box-col-m {
    

    display: flex;
    flex-direction: column;
    width: 66vw;
    height: 100%;
    
}

.box-col-l {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.box-row-s {
    display: flex;
    flex-direction: row;
    width: 33%;
}

.box-row-m {
    display: flex;
    flex-direction: row;
    width: 66%;
}

.box-row-l {
    

    display: flex;
    flex-direction: row;
    width: 100%;
}
*/

/* --- THEMES --- */

.dark-theme {
    color: rgb(223, 226, 226);
    background-color: rgba(0, 0, 0, 0.76);
}

.light-theme {
    color: rgb(29, 31, 31);
    background-color: rgba(247, 255, 253, 0.76);
}

.code-theme {
    color: rgb(29, 31, 31);
    background-color: rgba(236, 240, 184, 0.836);
}

.blue-theme {
    color: rgb(223, 226, 226);
    background-color: rgba(42, 29, 163, 0.76);
}

.red-theme {
    color: rgb(223, 226, 226);
    background-color: rgba(163, 29, 29, 0.76);
}

/* --- TEXTS --- */

.text-s {
    font-size: var(--text-size-s);
}

.text-m {
    font-size: var(--text-size-m);
}

.text-l {
    font-size: var(--text-size-l);
}

.text-xl {
    font-size: var(--text-size-xl);
}

.text-xxl {
    font-size: var(--text-size-xxl);
}

.text-shadow-black {
    text-shadow: var(--shadow-text-black);
}

.text-shadow-white {
    text-shadow: var(--shadow-text-white);
}

.text-shadow-blue {
    text-shadow: var(--shadow-text-blue);
}

.text-shadow-red {
    text-shadow: var(--shadow-text-red);
}

.text-shadow-3d {
    color:rgba(240, 237, 237, 0.87);
    text-shadow: var(--shadow-text-3d);
}

/* Functional */

.stick-on-top {
	position: fixed;
	width: 100%;
    top: 0;
	z-index: 99;
}

html {
    scroll-behavior: smooth;
  }
