@import url(root.css);

.canvas {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.nav-logo {
    display: block;
    margin-left: 10px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    margin-left: 60%;
}
.nav-button {
    display: block;
    margin-right: 10px;
}

.box-col-s {
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 100%;
}

.box-col-m {
    display: flex;
    flex-direction: column;
    width: 66vw;
    height: 100%;
}

.box-col-l {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.box-row-s {
    display: flex;
    flex-direction: row;
    width: 33%;
}

.box-row-m {
    display: flex;
    flex-direction: row;
    width: 66%;
}

.box-row-l {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Themes */
.dark-theme {
    color: rgb(191, 204, 204);
    background-color: black;
}

.light-theme {
    color: rgb(29, 31, 31);
    background-color: rgba(184, 216, 221, 0.76);
}

/* Text Font Size */
.text-s {
    font-size: var(--text-size-s);
}

.text-m {
    font-size: var(--text-size-m);
}

.text-l {
    font-size: var(--text-size-l);
}

.text-xl {
    font-size: var(--text-size-xl);
}

.text-xxl {
    font-size: var(--text-size-xxl);
}

/* Text Shadow */
.text-shadow-black {
    text-shadow: var(--shadow-text-black);
}

.text-shadow-white {
    text-shadow: var(--shadow-text-white);
}

/* Center DIV (Parent position: relative;) */
.center-horizontal {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.center-vertical {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
}
.center-absolut {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

/* Gray Shades Background Color */
.bg-gray-light-1 { background-color: var(--gray-light-1); }
.bg-gray-light-2 { background-color: var(--gray-light-2); }
.bg-gray-light-3 { background-color: var(--gray-light-3); }
.bg-gray-dark-1 { background-color: var(--gray-dark-1); }
.bg-gray-dark-2 { background-color: var(--gray-dark-2); }
.bg-gray-dark-3 { background-color: var(--gray-dark-3); }

/* Gray Shades Text Color */
.text-gray-light-1 { color: var(--gray-light-1); }
.text-gray-light-2 { color: var(--gray-light-2); }
.text-gray-light-3 { color: var(--gray-light-3); }
.text-gray-dark-1 { color: var(--gray-dark-1); }
.text-gray-dark-2 { color: var(--gray-dark-2); }
.text-gray-dark-3 { color: var(--gray-dark-3); }
